CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/compass?retryWrites=true&w=majority
SESSION_SECRET=your_long_random_secret_here
PORT=8080
